[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/nginx.vim"]
	path = home/.vim/bundle/nginx.vim
	url = git@github.com:chr4/nginx.vim.git
[submodule "home/.vim/pack/default/start/vim-polyglot"]
	path = home/.vim/pack/default/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot
[submodule "home/.vim/bundle/vim-jsonnet"]
	path = home/.vim/bundle/vim-jsonnet
	url = git@github.com:google/vim-jsonnet
[submodule "home/.vim/bundle/emmet-vim"]
	path = home/.vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
