[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "home/.tmux/plugins/tmux-mem-cpu-load"]
	path = home/.tmux/plugins/tmux-mem-cpu-load
	url = git@github.com:thewtex/tmux-mem-cpu-load.git
[submodule "home/.tmux/plugins/tmux-copycat"]
	path = home/.tmux/plugins/tmux-copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
[submodule "home/.tmux/plugins/tmux-battery"]
	path = home/.tmux/plugins/tmux-battery
	url = git@github.com:tmux-plugins/tmux-battery.git
[submodule "home/.tmux/plugins/tmux-prefix-highlight"]
	path = home/.tmux/plugins/tmux-prefix-highlight
	url = git@github.com:tmux-plugins/tmux-prefix-highlight.git
[submodule "home/.tmux/plugins/tmux-net-speed"]
	path = home/.tmux/plugins/tmux-net-speed
	url = git@github.com:tmux-plugins/tmux-net-speed.git
[submodule "home/.tmux/plugins/tmux-sidebar"]
	path = home/.tmux/plugins/tmux-sidebar
	url = git@github.com:tmux-plugins/tmux-sidebar.git
[submodule "home/.tmux/plugins/tmux-continuum"]
	path = home/.tmux/plugins/tmux-continuum
	url = git@github.com:tmux-plugins/tmux-continuum.git
[submodule "home/.tmux/plugins/tmux-resurrect"]
	path = home/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
