[user]
	name = Andrew Suderman
	email = andrew@sudermanjr.com
	signingkey = 9C9CAE7EC2133DB7
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/asuderma/.gitignore_global
[diff "sopsdiffer"]
	textconv = sops -d
[hub]
	protocol = ssh
[alias]
	pushf = push --force-with-lease
[pull]
	ff = only
