agones-allocator-client 0.2.0
argo 3.2.4
argocd 2.2.5
awscli 2.8.2
aws-vault 6.6.0
bazel 3.1.0
cmctl 1.6.1
conftest v0.22.0
doctl 1.72.0
eksctl 0.43.0
gcloud 366.0.0
github-cli 2.14.7
gohugo 0.81.0
golang 1.19.3
golangci-lint 1.50.1
goreleaser 1.5.0
hadolint v1.23.0
helm 3.10.0
helm-docs 1.11.0
hub v2.14.2
insights-cli 1.0.2
k6 0.27.1
k9s 0.25.18
kind 0.16.0
kops v1.21.1
kpt v1.0.0-beta.20
kube-capacity 0.3.3
kubectl 1.21.11
kubectx 0.9.0
kustomize 4.1.3
linkerd 2.9.4
nodejs lts
nova 3.3.0
operator-sdk 1.2.0
pluto 5.11.1
polaris 7.2.0
postgres 12.3
pulumi 3.46.1
rbac-lookup 0.6.1
reckoner 6.0.0
redskyctl 1.3.1
ripgrep 13.0.0
ruby 2.7.1
shellcheck 0.7.2
sops 3.7.1
starship 1.10.3
syft 0.42.4
terraform 1.1.7
terraform-docs v0.16.0
tfsec 1.21.2
tp 2.1.1
vault 1.10.0
yq v4.9.3
reckoner 6.0.0
