agones-allocator-client 0.2.0
argo 2.8.0
aws-vault 6.2.0
bazel 3.1.0
conftest v0.22.0
doctl 1.41.0
github-cli 1.0.0
golang 1.15.6
golangci-lint 1.32.0
helm 3.3.4
helm-docs 1.4.0
k6 0.27.1
kind 0.9.0
kops v1.17.2
kube-capacity 0.3.3
kubectl 1.19.2
kubectx 0.9.0
kustomize 3.5.4
linkerd 2.8.1
nova 2.2.0
operator-sdk 1.2.0
pluto 3.5.2
postgres 12.3
protoc 3.12.1
rbac-lookup 0.6.1
reckoner 4.3.2
redskyctl 1.3.1
ruby 2.7.1
shellcheck 0.7.0
terraform 0.12.29
terraform-docs v0.10.1
tp 2.1.1
vault 1.5.5
yq 3.4.1
