command_timeout = 700
add_newline = false
format = """\
    $shlvl\
    ${custom.flox}\
    ${custom.flox-services}\
    $directory\
    $direnv\
    $python\
    $golang\
    $ruby\
    $rust\
    ${custom.fairwinds}\
    ${custom.awsaccount}\
    ${custom.awsduration}\
    $aws\
    ${custom.vault}\
    $kubernetes\
    $git_branch\
    $git_commit\
    $git_state\
    $git_status\
    $fossil_branch\
    $fossil_metrics\
    $line_break\
    $jobs\
    $cmd_duration\
    $character"""

[shlvl]
disabled = false
format = '[\($shlvl\)]($style) '
style = "green"
threshold = 2

[character]
error_symbol = "[✗](bold bright-red)"
success_symbol = "[▶](bold green)"

[directory]
style = "green"
truncation_length = 8
[directory.substitutions]
"~" = "home"

[aws]
disabled = false
style = "dimmed yellow"
symbol = " "
format = "[$symbol$profile(\\($region\\))]($style) "

[gcloud]
disabled = true
symbol = " "

[kubernetes]
symbol = "󱃾 "
format = "[$symbol$context( \\($namespace\\))]($style) "
style = "bright-blue"
disabled = false
contexts = [
  { context_pattern = 'arn:aws:eks:(?P<var_region>[\w-]+):(?P<var_accountid>[\w-]+):cluster/(?P<var_cluster>[\w-]+)', context_alias = '[eks]$var_cluster' },
  { context_pattern = 'gke_.*_(?P<var_cluster>[\w-]+)', symbol = "" , context_alias = '[gke]$var_cluster' }
]

[custom.fairwinds]
symbol = " "
command = "echo $PROJECT:${INVENTORY:-(none)}"
when = """ test "$PROJECT" != "" """
style = "red"

[custom.flox]
command = "echo $FLOX_PROMPT_ENVIRONMENTS"
symbol = "󱄅 "
when = """ test "$FLOX_PROMPT_ENVIRONMENTS" != "" """
style = "cyan"

[custom.flox-services]
command = """flox services status --json | jq '. | select(.status=="Running") | .name ' -r"""
symbol = " "
when = """test $(flox services status --json | jq '. | select(.status=="Running") | .name ' -r) != "" """
style = "cyan"

[custom.awsduration]
disabled = false
symbol = " "
command = "echo $((x=$AWS_SESSION_START,y=AWS_SESSION_DURATION,z=$(date +%s),u=x+y-z))s $VAULT_AWS_ACCOUNT/$VAULT_AWS_ROLE"
when = """ test "$AWS_SESSION_START" != "" """
style = "dimmed yellow"

[custom.vault]
disabled=false
symbol = " "
command = """ echo "${VAULT_AWS_ROLE:-$DEFAULT_VAULT_AWS_ROLE}" """
when = """ test "$VAULT_AWS_ROLE" != "" || test "$DEFAULT_VAULT_AWS_ROLE" != "" """
style = "dimmed yellow"

[custom.awsaccount]
symbol = " "
disabled = true
command = "echo $AWS_ACCOUNT_ALIAS"
when = """ test "$AWS_ACCOUNT_ALIAS" != "" """
ignore_timeout = true
style = "dimmed yellow"

[jobs]
disabled = false
symbol = "&"
style = "yellow"

[git_branch]
disabled = false
format = "[$symbol$branch]($style) "
symbol = " "
style = "purple"

[git_status]
disabled = false
modified = "±"
style = "yellow"

[golang]
symbol = " "
style = "bright-cyan"
format = "[$symbol$version]($style) "

[python]
disabled = false
symbol = " "
format = "[${symbol}${version}( \\($virtualenv\\))]($style) "

[cmd_duration]
min_time = 3000
format = "[$duration]($style) "

[line_break]
disabled = false

[rust]
format = "[$symbol$version]($style) "
symbol = " "

[helm]
disabled = true
format = "[⎈ $version](bold white) "

[fossil_branch]
disabled = false

[fossil_metrics]
disabled = false

[direnv]
disabled = false
loaded_msg = ' '
unloaded_msg = '󱧵 '
symbol = ''
style = 'green'
format = '[$loaded]($style) '
